@keyframes stroke-line {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes spinAround {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* animation.scss */
.stroke-line {
    will-change: auto;
    stroke-dashoffset: 2000;
    animation: stroke-line 80s linear infinite;
}

.logo-animation {


    width: 0;
    height: 200px;
    top: -50%;
    fill: hsla(0, 0%, 100%, .45);
    transform: rotate(-45deg);
    box-shadow: 0 0 20px 20px hsla(0, 0%, 100%, .45);
    animation: future 2.5s linear infinite;

}