.is-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.justify-bettween {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.flex_wrap {
    flex-wrap: wrap;

}

.align-flex-start {
    align-items: flex-start;
}